@tailwind base;
@tailwind components;
@tailwind utilities;

.container-analitico {
    @apply flex flex-row w-full;
}

.container-esq {
    @apply flex flex-row w-1/2 items-center justify-center text-center;
}

.container-esq .card {
    @apply flex flex-row items-center justify-center w-1/5 m-1 shadow shadow-gray-900 rounded-lg;
}

.container-esq .card .icon-img {
    @apply text-2xl rounded-full p-1  text-white;;
}

.container-esq .card .card-info {
    @apply flex flex-col items-center justify-center text-center;
}

.container-dir {
    @apply flex flex-row w-1/2 items-center justify-center text-center bg-lime-400;
}

.cards-analitico {
    @apply flex flex-row w-full;
}