@tailwind base;
@tailwind components;
@tailwind utilities;

.cards-realtime {
    @apply w-full flex flex-row justify-evenly
}

.cards-realtime .card {
    @apply w-1/4 m-2 flex flex-row justify-between p-2 items-center text-center shadow shadow-gray-900 rounded-lg;
}

.icon-img {
    @apply text-5xl rounded-full p-2  text-white;
}

.card-content {
    @apply flex flex-col items-center text-center;
}

.principal-info {
    @apply flex flex-row justify-around items-center text-center;
}

.principal-info h1 {
    @apply text-xl ;
}

.secondary-info {
    @apply flex flex-row items-center text-center;
}

.secondary-info .info-esq , .secondary-info .info-dir {
    @apply flex flex-col items-center text-center p-2;
}

.secondary-info .info-dir {
    @apply text-red-600
}